header {
    background-color: chartreuse;
    text-align: center;
}

nav li {
    display:inline;
    margin-right: 10px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
nav{
    
}

body {
    background-color: black;
}

.caixa {
    position: relative;
    width: 940;
    margin: 0 auto;
}
.logotipo {
    width: 15%;
}

.servicos {
    width: 940px;    
}

.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
}

.servicos img {
    width: 200px;
}