body{
    text-align: center;
    color: chartreuse;
    font-size: 40px;
    background-color: black;
}

h1 {
    font-size: 68px;
    color: rgb(0, 0, 0);
    background-color: chartreuse;
}

ul {
    display: inline;
    font-size: 30px;
}

